
header.bui-bar {
    background-color: #121139 !important;
}
body,html {
    background-color: #0d111a;
}
/* main {
    background-color: #100b1f;
    padding: .2rem;
    min-height: 100vh;
} */

.home {
    width: 60%;
    height: 100%;
    /* border-bottom: 2px solid red; */
}
.bui-tab .bui-nav li {
    padding: 0;
    width: 30px;
    height: 0.6rem;
    line-height: 0.6rem;
    color: #fff;
    background-color: #333;
    text-align: center;
    border: 0 none;
}
.bui-tab .bui-nav .active {
    background-color: #333;
    box-sizing: border-box;
    color: #21abab;
    border: 0 none;
    /* border: 1px solid #21abab; */
}

.bui-nav .bui-box-vertical {
    background-color: #333;
    color: #aaa;
}
.bui-nav .bui-box-vertical.active {
    color: #00f7ee;
}
.bui-nav {
    background-color: #0d111a;
}
.activity,.game,.inline {
   margin: 0;
   padding: 0;
   width: 40px;
   height: 100%;
   line-height: 41px;
   /* background-color:red; */
   margin:0 auto;
   box-sizing: border-box;
   
}
.activity {
    border-bottom: 2px solid #21abab;
    color: #21abab;
}
/* .newactive {
    
} */

.bui-nav>[class*=bui-btn].tabBtn {
    border: none;
    background: #1a0b50;
    color: #fff;
}

.bui-nav>[class*=bui-btn].tabBtn:first-child {
    border-radius: .3rem 0 0 .3rem;
}

.bui-nav>[class*=bui-btn].tabBtn:nth-child(2) {
    border-radius: 0 .3rem .3rem 0;
}

.bui-nav>[class*=bui-btn].tabBtn.active {
    background-image: linear-gradient(to bottom, #135178, #5a618f);
    color: #bb9334;
}
.gameList {
    /* padding:0 4px; */
    /* margin:0 4px; */
}
.listitem {
    height: 210px;
    position: relative;
    background: url(../../images/jian.jpg) no-repeat;
    background-size: cover;
    margin-top: 8px;
    color: #fff;
}
.activitytime {
    display: flex;
    position: absolute;
    margin-top: 0.2rem;
    height: .3rem;
    line-height: .3rem;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}
.activitytime div {
    flex: 1;
    text-align: center;
    font-size: 14px;
}
.activitytime div:nth-child(1) span{
    border: 1px solid #333;
    /* padding: 1px 3px; */
}
.met {
    height: .6rem;
    line-height: .6rem;
    text-align: center;
    width: 80%;
    position: absolute;
    left: 50%;
    top:20%;
    transform: translateX(-50%);
}
.tips {
    display: flex;
    height: .3rem;
    line-height: .3rem;
    justify-content: space-between;
    /* background-color: yellow; */
    font-size: 14px;
    position: absolute;
    bottom: 10px;
    width: 100%;
}
.subTitle {
    position: absolute;
    left: 0;
    top: 0.1rem;
    height: 0.5rem;
    line-height: .5rem;
    padding:0 .1rem;
    background-color: rgb(219,224,230);
    color: #4c505b;
    /* background-: #aaa; */
}
.tips div:nth-child(1) span {
    border: 1px solid #aaa;
    padding: 1px 3px;
}
.tips div:nth-child(1) {
    margin-left: 0.1rem;
}
.tips div:nth-child(2) span:nth-child(1) {
    margin-right: .1rem;
}
.tips div:nth-child(2) span:nth-child(2) {
    margin-right: .1rem;
}
.tips div:nth-child(2) span:nth-child(1) i{
    margin-right: .1rem;
}
.bui-slide>.bui-slide-head {
    text-align: center;
}
.bui-slide>.bui-slide-head ul li {
    width: 0.2rem;
    height: 0.05rem;
    border-radius: 0;
}



